---
import Container from "@components/container.astro";
import Heading from "./heading.astro";
---
<Container>
  <!-- Hello -->
  <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
    <h2 class="text-5xl text-gray-800 tracking-tight -mt-2">
      <Heading id="about-us"/>
      <strong>We're 
      {" "}
      <span class="text-[#307d7e]">KB Business Services, LLC</span>
       Nice To Meet You
    </strong>
    </h2>
  </div>
</Container>