---
import { Picture } from "astro:assets";
const { color = "DEFAULT", size = "md", class: className , image} = Astro.props;

const colors = {
  DEFAULT: "bg-[#307d7e]",
  teal: "bg-[#307d7e]",
  purple: "bg-[#307d7e]",
};
---

<div
  class:list={[
    "rounded-2xl p-8 bg-[#307d7e79] transition-all ring-1 ring-[#307d7e79]/50 shadow hover:shadow-lg",
    className,
  ]}>
  <div class="mt-2">
    <div class="flex items-center gap-3 mt-10">
      <div>
      <div class="shrink-0">
        <Picture
          class="rounded-full w-24 h-24 object-cover bg-slate-100"
          formats={["avif", "webp"]}
          src={image}
          alt={"Reviewer Headshot"}
          width="48"
          height="48"
          loading="lazy"
        />
      </div>
      
        <h3 class="text-xl lg:text-2xl font-medium mt-2 text-slate-800"><slot name="title" /></h3>
        <h5 class="text-sm text-slate-800"><slot name="badge" /></h5>
      
    <p class="text-slate-800 mt-2 [text-wrap:balance]"><slot name="desc" /></p>
  </div>
  </div>
</div>
