---
import Container from "@components/container.astro";
import Heading from "./heading.astro";
---

<Container>
  <div class="grid sm:grid-cols-2 gap-10 mx-auto mt-24">
    <div class="relative">
      <h2 class="text-5xl text-gray-800 tracking-tight -mt-2">
        <Heading id="diversity-statement" />
        <strong
          >Diversity
          {" "}
          <span class="text-[#307d7e]">Statement</span></strong
        >
      </h2>
    </div>
  </div>
  <div class="grid sm:grid-cols-2 mx-auto gap-10">
    <div class="relative">
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        At KB Business Services, LLC, we believe that diversity is not just a
        buzzword; it's a fundamental aspect of who we are and how we thrive as a
        company. We are committed to fostering an inclusive environment where
        every individual feels valued, respected, and empowered to bring their
        authentic selves to work.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        Our commitment to diversity extends beyond mere tolerance; it is a
        celebration of the unique backgrounds, perspectives, and experiences
        that each of our employees brings to the table. We recognize that
        diversity encompasses dimensions such as race, ethnicity, gender, age,
        sexual orientation, religion, disability, socioeconomic status, and
        more.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        We understand that diversity is not only the right thing to do but also
        a strategic imperative. By embracing diverse viewpoints and ideas, we
        enrich our decision-making processes, drive innovation, and better serve
        the needs of our clients and communities.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        In line with our commitment to diversity, we actively promote:
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Inclusivity:</strong></span
        > We strive to create a workplace where everyone feels included and valued,
        regardless of their background or identity. We encourage open dialogue, mutual
        respect, and empathy among our employees.
      </p>
    </div>
    <div class="relative">
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Equity:</strong></span
        > We are dedicated to creating equitable opportunities for all employees
        to thrive and advance in their careers. We recognize and address systemic
        barriers that may impede the progress of underrepresented groups.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Education and Awareness:</strong></span
        > We invest in ongoing education and training initiatives to raise awareness
        about diversity, equity, and inclusion topics. We encourage self-reflection
        and continuous learning among our employees.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Community Engagement:</strong></span
        > We actively engage with diverse communities, both internally and externally,
        to foster meaningful connections and partnerships. We support initiatives
        that promote diversity and social justice.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Accountability:</strong></span
        > We hold ourselves accountable for creating and maintaining a diverse and
        inclusive workplace. We regularly assess our progress, identify areas for
        improvement, and take proactive measures to address disparities.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        At KB Business Services, LLC, diversity is not just a checkbox on a list
        of corporate initiatives; it's a core value that guides our actions
        every day. We are committed to building a culture where diversity is
        celebrated, differences are embraced, and every individual has the
        opportunity to thrive. Together, we are stronger, more innovative, and
        better equipped to tackle the challenges of today and tomorrow.
      </p>
    </div>
  </div>
</Container>
