---
// @ts-ignore
import Card from "@components/card.astro";
---

<div class="mt-24 items-center">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Hear what <span class="text-[#307d7e]">others are saying</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Testimonials from those who have worked with us.
  </p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" image="/testimonials/JosephAndorful.jpeg">
    <span slot="badge">Co-Founder & VP of Software Development at Strascend, LLC.</span>
    <span slot="title">Joseph Andorful</span>
    <span slot="desc">
      In the year 2020 when Covid-19 broke out, our consulting business became overwhelmed with lots of opportunities. During this period, it became harder to balance the number of projects with the number of staffs on hand and continue to build better relationships with our clients. At the moment, Ms. Allard-Blaisdell was pursuing her Doctorate Degree at Northwest University, and I was happy to learn that she was seeking a practicum experience required for her Business Consulting course. I shared with her the challenges that we were facing and sought her help. She immediately offered to work with us to align our company goals with our clients in mind. The result was immediate. Ms. Allard-Blaisdell's expertise in consulting was evident in her ability to analyze complex problems and develop practical and effective solutions. She worked closely with our clients to understand their needs and provided valuable insights that helped drive their success. Her strong communication and interpersonal skills allowed her to build positive relationships with clients, ensuring that projects were delivered on time and within budget.
    </span>
  </Card>
  <Card class="lg:col-span-2" image="/testimonials/PriscillaVloe.jpeg">
    <span slot="badge">Administrative Officer at University of Utah Health</span>
    <span slot="title">Priscilla Vloe</span>
    <span slot="desc">
      Dr. Allard-Blaisdell has been a great help. She had mentored me and pushed me to apply for the master’s program. She helped with reviewing my application letter and prepared me for the interview. During my program, Dr. Allard-Blaisdell and I held weekly meeting to go over homework, case studies and discuss various challenges I was facing, all that while she was working on her Ph.D. final thesis.Throughout the years, I have seen Dr. Allard-Blaisdell be a mentor for various people. She has made a great impact on my life and the life of others by helping us get to our professional goals.</span
    >
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-2" image="/testimonials/DrPaulineElwin.jpeg">
    <span slot="badge">Principal Consultant & Leadership Coach at Elwin Innovative Global Consulting LLC</span>
    <span slot="title">Pauline B. Elwin, EdD.</span>
    <span slot="desc">
      I have known Dr. Salisha Allard-Blaisdell since 2020, when I enrolled in the Doctoral program at Northwest University. I have had the honor of working with Dr. Allard-Blaisdell in classroom settings, partnered with her on a multifaceted mentorship network for doctoral students, and presented research with her globally and nationally. Dr. Allard-Blaisdell has become a trusted friend and confidante. I admire her grit, resilience, and intellectual rigor. Dr. Allard-Blaisdell has excellent critical thinking skills, exceptional written and verbal communication, and the expertise and drive of an effective leader.</span
    >
  </Card>
  <Card class="lg:col-span-3" image="/testimonials/DrDebbeeMaraglio-Lynn.jpeg">
    <span slot="badge">Founder at Jellyfish Flow LLC</span>
    <span slot="title">Debbee Maraglio-Lynn, PhD.</span>
    <span slot="desc">
      Dr. Allard-Blaisdell is a peer mentor, research colleague, and coach to other colleagues and me. Dr. Allard-Blaisdell and I initiated a women's group, the Dissertation Warriors (DWs), that uplifts and supports one another through the doctoral journey. Dr. Allard- Blaisdell led accountability meetings for research, peer-mentoring, and study sessions for students in the doctoral program, including research and application for the International Leadership Association Conference (ILA). Our Dissertation Warriors group organized and facilitated an inaugural annual leadership presentation with a former teacher and acclaimed author, Dr. Gloria Burgess, in June 2022. I have presented with Dr. Allard-Blaisdell at five ILA conferences on women's leadership. Dr. Allard-Blaisdell's personality is a powerhouse of possibility and compassion. She is an outstanding collaborator and group member, a jewel to any community.
    </span>
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" image="/testimonials/GloriaMensah.jpeg">
    <span slot="title">Gloria H Mensah</span>
    <span slot="badge">Founder & Executive Director at GK Folks Foundation</span>
    <span slot="desc">
      Salisha has contributed to several program guidelines and initiatives of the GK Folks Foundation. One of her most notable contributions was the rebranding of the GK Folks Foundation. Salisha led the rebranding of the GK Folks Foundation in January 2020, shortly before the onset of the Covid-19 pandemic. As an organizational leadership expert with over a decade of experience in the nonprofit sector, Salisha combined her operational knowledge of the foundation with her specialized leadership training to provide guidelines that propelled Gk Folks Foundation efforts and impact. In addition, she worked directly with me to assess all our team members' interests and talents. She helped me identify the best fit within the organizational structure for all our members. Her efforts also supported redesigning our website to accurately depict our mission, vision, values, and programs. Salisha is an exceptional writer. She is professional and possesses excellent communication and relationship-building skills. Salisha's impeccable grasp of nonprofit management, critical thinking, and writing has and continues to positively contribute to the foundation's impact. I am humbled to acknowledge that, over the years, Salisha's grant-writing, collaboration, and partnership skills helped the foundation receive over $200,000 in grant funding, sponsorships, and other donations.
    </span>
  </Card>
  <Card class="lg:col-span-2" image="/testimonials/AmiraK.jpeg">
    <span slot="badge">Founder & Executive Director at PreventHer, Audio-Video Specialist at Les Olson IT</span>
    <span slot="title">Amira Kherrallah</span>
    <span slot="desc">
      One of my experiences with Salisha that was really impactful was when I participated in her study on Initiating Social Change Through Mindfulness Practices and the Flawless Leadership Model. This virtual leadership camp which was held in 2020 (September) was very beneficial, it helped me grow. I learnt so much about the habits of leading from within, fostering an understanding of self- awareness, engagement, teamwork to maximize change efforts, and how to encourage intercultural sensitivity, awareness, and partnerships. Salisha's knowledge is a real asset and can help train and create a high-quality and productive workforce within the community.</span
    >
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" image="/testimonials/EarlCreps.jpeg">
    <span slot="badge">Founding Director of Center for Leadership Studies at Northwest University</span>
    <span slot="title">Earl Creps, Ph.D., D.Min.</span>
    <span slot="desc">
      I met Dr. Salisha Allard-Blaisdell while she was working on her doctoral degree in
Organizational leadership in April 2019. I was serving as the Dean of her program and CFLS.
During this time, I noticed Salisha’s professionalism and dedication to leadership training, so I
asked her to serve as one of the CFLS Ambassadors, a group that reaches out to our students.

Salisha has played a crucial role while serving as a Student Ambassador of CFLS. First, she
worked closely with me and other faculty members to ensure doctoral program design was
promoting academic and career success of all students. She also shared her experience at
Northwest University on a video which was used to market and recruit students to our program. Additionally, she created a high-quality video presentation on the subject of her dissertation that is currently being used as a guide and a template for current doctoral students who are sitting CFLS’s Comprehensive Examination. The Comprehensive Examination is a 3-month qualifying exam that assesses a student’s mastery of program competencies and is required for advancement to the doctoral field research phase of the program.

Her grasp of the key concepts of organizational leadership is truly impressive and she can
effectively communicate her ideas to all audiences. Her passion and dedication to the field is
evident in her career and in the attitudes of her fellow students who regard her as a leader in our program. They are not wrong. Working with Salisha for several years has shown me that she is on track to professional and academic success.
    </span>
  </Card>
  <Card class="lg:col-span-2" image="/testimonials/ThomasAlsbury.jpeg">
    <span slot="badge">Professor and Dissertation Chair at Northwest University</span>
    <span slot="title">Dr. Thomas Alsbury</span>
    <span slot="desc"> I am familiar with Salisha’s work because she was one of my students at Northwest University between 2019 and 2022. To this day I have been amazed at her accomplishments and dedication to the field of education and organizational leadership. Her work is indeed exemplary and I use her dissertation as a sample work for my other doctoral students at Northwest University.
      Salisha was hard working and reliable as a student and was always trustworthy and of high reputation in her personal interactions.
    </span>
  </Card>
</div>


<!-- Replace Testimonials -->

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-2" image="/testimonials/DonConant.jpeg">
    <span slot="badge">Professor and Chair of Business and Economics at Saint Martin’s University</span>
    <span slot="title">Donald D. Conant, Ph.D.</span>
    <span slot="desc">
      I met Salisha in the summer of 2019 when she enrolled as a student in my critical inquiry course at Northwest University. From my first encounter with Salisha I was impressed with her commitment to educational leadership. As she progressed through the program, she demonstrated a genuine interest in and a commitment to the research of her classmates. She co-formed and co-led a peer support group intended to help students complete their dissertations. Every student in her group completed their dissertation on time. They all recognized Salisha’s efforts as instrumental in their success. Salisha served as my teaching assistant in the dissertation proposal class where she demonstrated her abilities as a lecturer and content expert. By the end of the course she was co-teaching with me. I served as a member of her dissertation committee. She collected and analyzed an impressive sample from secondary schools in Grenada. This made her dissertation stand out among those of her classmates.
    </span>
  </Card>
  <Card class="lg:col-span-3" image="/testimonials/MarianneMcKnight.jpeg">
    <span slot="badge">Senior Associate Dean, Faculty Affairs at Salt Lake Community College</span>
    <span slot="title">Marianne F. McKnight</span>
    <span slot="desc">
      I met Ms. Allard-Blaisdell in 2018 when she worked with the college’s Chief Diversity Officer,
Dr. Roderic Land. I was asked to represent the Associate Dean’s Council on the Diversity
Committee which Dr. Land chaired. I was so impressed with her intelligence, warmth,
commitment to serve those in need, and her impeccable character and incredibly strong work
ethic that when I found out about her academic background in public administration, I began the process of hiring her to teach within the Political Science Department. I knew our students
would benefit by being taught by her and seeing her as a role model. Students of color needs to
see themselves in their teachers and leaders. Salt Lake Community College is the most
ethnically, racially, and socio-economically diverse institution of higher education in the State of Utah and I had no doubt that she would be an asset to both students, the institution and the community we serve.

When she decided to pursue an PhD. I was disappointed to lose her but thrilled for her because I knew it would move her closer to her non-profit goals.

I have personally and professionally grown from my association with Ms. Allard-Blaisdell. 
She never gives up. Some might say that I was in the position to mentor her, but the truth is, I feel she has mentored me. Her passion is matched by her strong work ethic, integrity, love of humanity, great intellectual capacity, extraordinary problem-solving skills, and the ability to communicate with and across a wide expanse of backgrounds and personalities. She meets people where they are at and brings them together.
    </span>
  </Card>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-5 mt-16 gap-10">
  <Card class="lg:col-span-3" image="/testimonials/JamesDavy.jpeg">
    <span slot="title">Dr. James M. Davy</span>
    <span slot="badge">Distinguished Practitioner-In-Residence, Director, Center for Applied Appreciative Inquiry at Rutgers University</span>
    <span slot="desc">
      I came to know Dr. Allard-Blaisdell when she enrolled at Rutgers for her MPA program.
Salisha took my Strategic Planning course in September, 2014 and immediately stood out
as a student who was always prepared for our interactive class discussions. Her level of
excellence was such that I was surprised to learn that my class was her first class in the
MPA program. Dr. Allard-Blaisdell presented herself as a hard-working, determined
individual in my class, and throughout her time at Rutgers University-Newark.

I have previously written a letter of recommendation for her doctorate program, and I
continue to recommend her as an expert of nonprofit organization management and
leadership skills without reservation. In the time I have gotten to know Dr. Allard-Blaisdell,
she has obtained many accomplishments. For example, while at Rutgers University, Dr.
Allard-Blaisdell was selected to receive the Annette McIntyre Fellowship award. This
award recognized her excellence in her academic performance and commitment to the
university's core values: diversity, knowledge, competency, and service. Dr. Allard-Blaisdell
was also selected for this award because of her noticeable ability to make meaningful
contributions in the public and nonprofit sectors. In addition, as a recipient of the Annette
McIntyre Fellowship award, Dr. Allard-Blaisdell was featured in an Annual Scholarship
Dinner Video, thanking donors and supporting the University's Advancement Team in
building solid and lasting relationships with their donors.
    </span>
  </Card>
  <Card class="lg:col-span-2" image="/testimonials/RowlandaCawthon.jpeg">
    <span slot="badge">Dean and Associate Professor at Northwest University</span>
    <span slot="title">Rowlanda Cawthon</span>
    <span slot="desc">
      I had the pleasure of meeting Dr. Allard-Blaisdell in January 2018 when I served as the keynote
speaker for a mentoring event at Salt Lake Community College. Shortly thereafter, she reached
out to inquire if I would serve as her mentor, and I could not say no. After much discussion and
guidance, Dr. Allard-Blaisdell moved to Kirkland, WA, to complete her doctoral studies at
Northwest University.

I served on her research committee and was a part of her comprehensive exam board, responsible for judging her work and mentoring her throughout the Ph.D. program. As Dr. Allard-Blaisdell’s professor, I was impressed with her resilience and commitment to her own learning. She is a transformational leader, critical thinker, and great communicator. She shined among her peers and always used assignments to leverage learning. Drawing from my mentorship and employing hard work and determination, Dr. Allard-Blaisdell was the first in her cohort to complete the Ph.D. program. In addition, she set an example to many by becoming the first woman of color to defend a Ph.D. dissertation at Northwest University.  
    </span>
  </Card>
</div>
<br/>