---
import Container from "@components/container.astro";
import Heading from "./heading.astro";
---
<Container>
  <div class="grid sm:grid-cols-2 gap-10 mx-auto mt-24">
    <div class="relative">
      <h2 class="text-5xl text-gray-800 tracking-tight -mt-2">
        <Heading id="story"/>
        <strong>Our
        {" "}
        <span class="text-[#307d7e]">Story</strong></span>
      </h2>
    </div>
  </div>
    <div class="grid sm:grid-cols-2 mx-auto">
        <div class="relative">
          <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
            The story of KB Business Services, LLC is one of resilience, dedication, and family bonds. Established in 2023 by Ken Blaisdell and his daughter, Dr. Salisha Allard-Blaisdell, KB Business Services embodies a unique partnership rooted in shared values and a commitment to excellence.
          </p>
          <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
            Ken Blaisdell, serving as the President, brings years of experience and expertise to the company. Alongside him, Dr. Salisha Allard-Blaisdell holds the role of Vice President and Senior Business Consultant, leveraging her academic background and strategic insights to drive the company's success.
          </p>
          <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
            The history of KB Business Services is intertwined with a heartwarming tale of adoption and opportunity. Ken and his wife, Sharalee Blaisdell, opened their hearts and home to Salisha when she was an orphan in Grenada. Through their love and support, Salisha was given the chance to pursue her educational and career aspirations in the United States, marking the beginning of her remarkable journey.
          </p>
        </div>
        <div class = "relative">
          <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
            Despite facing early challenges, including not learning to read until age 12, Salisha's determination and resilience propelled her forward. She defied the odds to become the first woman of color to defend a PhD at Northwest University, a testament to her perseverance and unwavering commitment to her goals.
          </p>
          <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
            Today, Dr. Salisha Allard-Blaisdell continues to inspire and mentor others on their academic journeys. As a mentor to several doctoral students, including two other women of color pursuing PhDs at Northwest University, she pays forward the support and guidance she received, empowering others to achieve their dreams.
          </p>
          <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
            Through their shared vision, expertise, and dedication to making a difference, the father-daughter duo behind KB Business Services, LLC has built a legacy of excellence, empowerment, and compassion. As they continue to grow and thrive, KB Business Services remains committed to providing exceptional business consulting services while making a positive impact in the lives of others.
          </p>
        </div>
      </div>
</Container>