---
import Container from "@components/container.astro";
import Heading from "./heading.astro";
---

<Container>
  <div class="grid sm:grid-cols-2 gap-10 mx-auto mt-24">
    <div class="relative">
      <h2 class="text-5xl text-gray-800 tracking-tight -mt-2">
        <Heading id="values" />
        <strong
          >Our
          {" "}
          <span class="text-[#307d7e]">Values</span></strong
        >
      </h2>
    </div>
  </div>
  <div class="grid sm:grid-cols-2 mx-auto gap-10">
    <div class="relative">
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Excellence:</strong></span
        > We are committed to delivering exceptional quality and exceeding expectations
        in all aspects of our work.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Integrity:</strong></span
        > We conduct ourselves with honesty, transparency, and ethical behavior,
        building trust and credibility with our clients and partners.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Collaboration:</strong></span
        > We believe in the power of teamwork and collaboration, leveraging diverse
        perspectives and expertise to achieve shared goals.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Innovation:</strong></span
        > We embrace creativity and innovation, continuously seeking new ideas and
        approaches to drive positive change and solve complex problems.
      </p>
    </div>
    <div class="relative">
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Client-Centric:</strong></span
        > We prioritize the needs and goals of our clients, striving to provide personalized
        solutions and exceptional service tailored to their unique requirements.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Continous Improvement:</strong></span
        > We are dedicated to learning, growth, and continuous improvement, constantly
        refining our skills, processes, and strategies to stay ahead in a dynamic
        business environment.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Empowerment:</strong></span
        > We empower individuals and organizations to reach their full potential,
        fostering a culture of empowerment, accountability, and resilience.
      </p>
      <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
        <span style="background-color: #307d7e79" class="text-slate-900"
          ><strong>Social Responsibility:</strong></span
        > We are committed to making a positive impact in our communities and society,
        practicing responsible business practices and giving back through philanthropy
        and volunteerism.
      </p>
    </div>
  </div>
</Container>
