---
import Container from "@components/container.astro";
import Heading from "./heading.astro";
---
<Container>
  <!-- Our Vision -->
  <div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
    <h2 class="text-5xl text-gray-800 tracking-tight -mt-2">
      <Heading id="vision"/>
      <strong>Our
      {" "}
      <span class="text-[#307d7e]">Vision</span></strong>
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
      Our vision at KB Business Services, LLC, is to be a trusted partner and
      a leading provider of strategic solutions, empowering businesses,
      institutions, and individuals worldwide to thrive and excel. Through our
      commitment to excellence, integrity, and personalized service, we aim to
      inspire positive change, foster leadership, and cultivate a brighter
      future for our clients and communities.
    </p>
  </div>
</Container>